<!DOCTYPE html>
<html>
<head>
    <title>Training</title>
    <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
        <div style="width: 950px; margin: 0px auto;">
            <h2>This is the layout for the pages controller</h2>
            <%= yield %>
        </div>
</body>
</html>